<div class="container">
    <div>
        <h1>A Community Built on Safety</h1>
        <p>We have strong infection prevention measures in place to keep our community safe. The public can come to our hospital knowing that we screen all patients and staff and separate those who have or may have COVID-19. We’re here for them 24/7.</p>
    </div>
    <div>
        <div>
            <h2>Welcome to Valley Baptist Health System</h2>
            <p>Valley Baptist Health System, consisting of Valley Baptist Medical Center-Brownsville, Valley Baptist Medical Center-Harlingen, and Valley Baptist Micro-Hospital - Weslaco, has been fortunate to serve the Rio Grande Valley for more than 90 years. During this time, the health of our communities has always led the way, guiding us to offer the right services, at the right time, and in the right place: right here at home.</p>
            <h2>A Community Built on Care</h2>
            <p>Caring, nurturing and helping heal friends, loved ones and neighbors is our passion, and we’re honored to have the opportunity to serve you.</p>
        </div>
    </div>
    </div>