<table class="table">
    <thead>
        <tr>
            <th scope="">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <th scope="row"><%= user.name %></th>
                <th scope="row"><%= user.username %></th>
                <th scope="row"><%= user.email %></th>
                <td>
                    <% if user.admin %>
                        (admin)
                    <% else %>
                        <%= link_to  "Orders", user_orders_path(user) %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>